@page "/addin-types"
@using Coursework1.Model
@using Coursework1.Service
@inject MudBlazor.ISnackbar Snackbar
@inject ICoffeeService CoffeeService

<StackLayout>
    <MudCard>
        <MudCardHeader>
            <MudCardHeaderContent>
                <MudText><h2>Addin List</h2></MudText>
            </MudCardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudTable Items="@addinTypes">
                <HeaderContent>
                    <MudTh>Id</MudTh>
                    <MudTh>AddIn Name</MudTh>
                    <MudTh>Price</MudTh>
                    <MudTh>Action</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd>@context.Id</MudTd>
                    <MudTd>@context.AddinName</MudTd>
                    <MudTd>@context.Price</MudTd>
                        <MudTd>
                            <!-- Button to trigger price change -->
                            <MudButton OnClick="@(() => { enteredPassword = ""; addinIdToUpdate = context.Id; })">Edit Price</MudButton>
                            @if (addinIdToUpdate == context.Id)
                        {
                            <div>
                               
                                <input type="password" @bind="enteredPassword" placeholder="Enter admin password" />
                                <input type="number" @bind="newPrice" placeholder="Enter new price" />
                                <MudButton OnClick="@ChangeAddinPrice">Confirm</MudButton>
                            </div>
                        }
                    </MudTd>
                    
                </RowTemplate>
            </MudTable>
        </MudCardContent>
    </MudCard>
</StackLayout>


